.App {
  font-family: sans-serif;
  border: 1px solid #000;
  margin: 16px;
  padding: 12px 8px;
  text-align: center;
}

.MuiButton-root {
  color: #696969 !important;
  border: 1px solid grey !important;
  border-radius: 12px !important;
}

.userInfo {
  padding: 16px;
  text-align: center;
  color: red;
}
